<div class="card text-center mt-3">
  <div class="card-header">
    {{ hero?.name }}
  </div>
  <div class="card-body">
    <ng-container *ngIf="hero?.description; else noDescription">
      <card-item [description]="hero?.description" [thumbnail]="hero?.thumbnail"></card-item>
    </ng-container>
    <ng-template #noDescription>
      <img [src]="hero?.thumbnail?.path + '.jpg'" class="img-thumbnail" alt="...">
    </ng-template>

    <div class="row">
      <section class="col">
        <card-session *ngIf="hero?.comics?.available ?? 0 > 0" title="Comics"
          [participations]="hero?.comics"></card-session>
        <card-session *ngIf="hero?.stories?.available ?? 0 > 0" title="Stories"
          [participations]="hero?.stories"></card-session>
      </section>
    </div>
  </div>
</div>
