<div class="col">
  <div class="card text-center " style="height: 650px;">
    <img [ngSrc]="character?.thumbnail?.path +'.'+ character?.thumbnail?.extension" width="70" height="70"
      class="card-img-top mb-3" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        {{ character?.name }}
      </h5>
      <p *ngIf="character?.description;" class="card-text mb-3 flex-grow-1 overflow-auto">
        {{ character?.description }}
      </p>


      <!-- <button type="button" class="btn btn-info btn-sm btn-block">Small button</button> -->
    </div>
    <div class="card-footer" *ngIf="character?.comics?.available ?? 0 > 0 || character?.series?.available ?? 0 > 0">
      <a *ngIf="character?.comics?.available ?? 0 > 0" title="comics"
        (click)="onComics(character)"
        style="margin-right: 5px;"
        class="btn btn-primary ">
        Comics
      </a>
      <a *ngIf="character?.series?.available ?? 0 > 0" title="stories"
        (click)="onSeries(character)"
        href="#" class="btn btn-primary ">Series</a>
    </div>
  </div>
</div>


