<div class="col-md-12 mb-3">
<div class="card">
  <div class="row g-1">
    <div class="col-md-5" *ngIf="apparance?.thumbnail"> <!--A api manda a thumbnail como null  -->
      <img [ngSrc]="apparance?.thumbnail?.path +'.'+ apparance?.thumbnail?.extension"
        class="img-fluid rounded-start"
        width="70"
        height="70"
        class="img-thumbnail" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ apparance?.title }}</h5>
        <p class="card-text">{{ apparance?.description }}</p>
      </div>
    </div>
  </div>
</div>
</div>
