
  <div class="mt-3 mb-3 pt-3">
    <input #searchBox id="searchBox" class="form-control form-control-lg " (input)="search(searchBox.value)" type="text"
      placeholder="Busque pelo seu Herói" aria-label=".form-control-lg example">
  </div>
  <ng-container *ngIf="(characters$ | async) as characters">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <card-hero *ngFor="let hero of characters"
      (series)="onSeries($event)"
      (comics)="onComics($event)"
      [character]="hero"></card-hero>
       <!-- <section name="heroes-list" class="mt-3 text-bg-light">

    </section> -->
    </div>

  </ng-container>
  <ng-container *ngIf="loading">
    <loading></loading>
  </ng-container>
