
  <div class="mt-3 mb-3 pt-3">
    <!-- <input #searchBox id="searchBox" class="form-control form-control-lg " (input)="search(searchBox.value)" type="text"
      placeholder="Busque pelo seu Herói" aria-label=".form-control-lg example"> -->
      <div class="input-group mb-3">
        <input
        [(ngModel)]="inputSearch"
        type="text" #searchBox class="form-control"
        placeholder="Busque pelo seu Herói" (input)="search(searchBox.value)"
        aria-label="Busque pelo seu Herói" aria-describedby="button-addon2">
        <button class="btn btn-light" type="button" id="button-addon2"
        (click)="clear()"
        >
          <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
      </div>
  </div>
  <error-message
  *ngIf="noHeroReturned"
  message="Não foi encontrado nenhum herói para sua busca"
></error-message>
  <ng-container *ngIf="(characters$ | async) as characters">
    <div *ngIf="characters.length > 0" class="row row-cols-1 row-cols-md-3 g-4">
      <card-hero *ngFor="let hero of characters"
      (series)="onSeries($event)"
      (comics)="onComics($event)"
      [character]="hero"></card-hero>


       <!-- <section name="heroes-list" class="mt-3 text-bg-light">

    </section> -->
    </div>

  </ng-container>
  <ng-container *ngIf="loading">
    <loading></loading>
  </ng-container>
