<div class="mt-3 mb-3 pt-3">
      <div class="input-group mb-3">
        <input
        type="text" id="search-box" #searchBox class="form-control"
        placeholder="Busque pelo seu Herói" (input)="search(searchBox.value)"
        aria-label="Busque pelo seu Herói" aria-describedby="btn-clear">
        <button class="btn btn-light" type="button"
        aria-label="Limpar a busca"
        id="btn-clear"
        (click)="clear()">
          <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
      </div>
  </div>
  <error-message
  *ngIf="noHeroReturned"
  message="Não foi encontrado nenhum herói para sua busca"
></error-message>
  <ng-container *ngIf="(characters$ | async) as characters">
    <div *ngIf="characters.length > 0" class="row row-cols-1 row-cols-md-3 g-4">
      <card-hero *ngFor="let hero of characters"
      (series)="onSeries($event)"
      (comics)="onComics($event)"
      [character]="hero"></card-hero>
    </div>
  </ng-container>
  <ng-container *ngIf="loading">
    <loading></loading>
  </ng-container>
