/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';




$primary: #27313f;
$secondary: #aa0505;
$body-bg: $gray-100;
$body-color: #899db8;


$input-placeholder-color:               var(--#{$prefix}gray-500);

// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary
// );

@import 'bootstrap/scss/bootstrap.scss';






body{
  background-image: url('./assets/img/background.jpg');
  background-size: cover; /* Para garantir que a imagem cubra todo o fundo */
 // opacity: 0.7;
  background-repeat: no-repeat; /* Para evitar a repetição da imagem */
}




